h1,
p {
  font-family: Lato;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  width: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
